@charset "utf-8";

div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-color: olivedrab;
}

.hoge-img_1 {
    display: block;
    width: 90%;
    max-width: 1050px;
    /*家の大きなパソコンで全画面表示したときに変にならない程度に設定した。*/
    height: auto;
}